<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ pkg.description }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <title>{{ pkg.author or pkg.handle or pkg.email or pkg.name }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}" />
  </head>

  <body>
    <div class="fixed w-full h-screen bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-sky-400 to-indigo-900 dark:from-blue-700 dark:to-gray-900"></div>

    <header class="relative w-full pt-32 pb-16">
      <img class="mx-auto rounded-full" src="https://www.gravatar.com/avatar/{{ gravatar }}?s=125" alt="{{ pkg.handle }} Gravatar" />
      <p class="mt-2 text-xl text-center text-white">@{{ pkg.handle }}</p>
    </header>

    <nav class="relative max-w-screen-sm mx-auto">
      {% for name, link in pkg.links %}
      <a class="block px-3 py-2 my-6 text-lg text-center text-black capitalize bg-white cursor-pointer dark:bg-gray-900 dark:text-white rounded-3xl" href="{{ link }}" rel="me noopener noreferrer" target="_blank"><span>{{ name }}</span></a>
      {% endfor %}
    </nav>
  </body>
</html>
